<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Admin Settings. <small> </small></h1>
    </div>
</div>
<div class="row">
<div class="col-md-12">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
            </div>
            <h4 class="panel-title">Settings</h4>
        </div>
        <div class="alert alert-info fade in">
            <i class="fa fa-gear fa-2x pull-left"></i>
            <p>Some global app settings that needs filling in. Default is always good ;)</p>
        </div>
        <div class="panel-body panel-form">
            <form class="form-horizontal form-bordered">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4" for="scluster">Cluster radius in px:</label>
                    <div class="col-md-6 col-sm-6">
                        <input class="form-control" type="number" id="scluster" name="scluster" ng-model="$parent.clusterRad"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
            </div>
            <h4 class="panel-title">Servers</h4>
        </div>
        <div class="alert alert-info fade in">
            <i class="fa fa-gear fa-2x pull-left"></i>
            <p>Some global app settings that needs filling in. Default is always good ;)</p>
        </div>
        <div class="panel-body panel-form">
            <form class="form-horizontal form-bordered">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4" for="scluster">Cluster radius in px:</label>
                    <div class="col-md-6 col-sm-6">
                        <input class="form-control" type="number" id="scluster" name="scluster" ng-model="$parent.clusterRad"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    </div>