<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Server Stats. <small> {{selectedServer.name}} </small></h1>
    </div>
</div>
<div class="row">

    <div class="col-md-6 ">
        <div class="panel panel-inverse" >
            <div class="panel-heading">
                <h4 class="panel-title">Top 5 Weapons   <i class="fa fa-spinner fa-2x fa-spin" ng-show="loadingData"></i>  <span ng-show="loadingData">Loading data.</span></h4>
            </div>
            <div class="panel-body">
                <p>
                    To see the complete list, look at the Weapons tab.
                </p>
                <div class="col-sm-8">
                    <canvas tc-chartjs-polararea chart-options="optionsPolar" chart-data="weaponsTop" chart-legend="polarChart1"></canvas>
                </div>
                <div class="col-sm-4"  style="padding:0"><div tc-chartjs-legend="" chart-legend="polarChart1" class="ng-isolate-scope"></div></div>
            </div>
        </div>
    </div>

    <div class="col-md-6 ">
        <div class="panel panel-inverse" >
            <div class="panel-heading">
                <h4 class="panel-title">Top 5 KDR</h4>
            </div>
            <div class="panel-body">
                <p>
                    To see the complete list, look at the Players tab.
                </p>
              <div class="col-sm-8">
                    <canvas tc-chartjs-pie chart-options="options" chart-data="kdrTop" chart-legend="pieChart1"></canvas>
                </div>
                <div class="col-sm-4" style="padding:0"><div tc-chartjs-legend="" chart-legend="pieChart1" class="ng-isolate-scope"></div></div>


            </div>
        </div>
    </div>

    <div class="col-md-6 ">
        <div class="panel panel-inverse" >
            <div class="panel-heading">
                <h4 class="panel-title">Top 5 Killers</h4>
            </div>
            <div class="panel-body">
                <p>
                    To see the complete list, look at the Players tab.
                </p>
                <div class="col-sm-8">
                    <canvas tc-chartjs-polararea chart-options="optionsPolar" chart-data="killsTop" chart-legend="polarChart3"></canvas>
                </div>
                <div class="col-sm-4"  style="padding:0"><div tc-chartjs-legend="" chart-legend="polarChart3" class="ng-isolate-scope"></div></div>
            </div>
        </div>
    </div>






</div>